

@media (max-width: 1024px) {
    
    /* section 1 */
    .section1{
        /* padding-top: 200px; */
        background-color: red;
        width: 100%;
        height: 500px;
    }

    .section2{
        margin-bottom: 183px;
    }

    .section3{
        margin: 75px;
    }

    .section5 img{
        margin-top: 100px;
    }

    #section8{
        margin-top: 100px;
    }

}

@media (max-width: 768px) {
    /* .container{
        width: 101%;
    } */
    .section1{
        width: 109.5%;
        /* background-color: red; */
        /* margin-bottom: 0px; */
    }

    .section2{
        margin-top: 50vh;
        width: 109.5%;
    }

    .container2{
        width: 109.5%;
    }

    .section3_img{
        width: 177%;
    }

    .section5 img {
        width: 109%;
    }

    .section6_part1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-bottom: 29px;
    }
    
    .section6_part1_p{
        color: blue;
        font-size: 20px;
    }
    
    .section6_part1_h1{
        font-size: 2.3rem;
    }
    
    .section6_part2{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        margin: 6rem auto;
    }
    
    .section6_part3 img{
        width: 90%;
    }
    
    .section6_h1{
        font-size: 2.7rem;
    }
    
    .section6_h2{
        font-size: 2.2rem;
    }
    
    .section6_p{
        word-spacing: 4px;
        color: gray;
    }
    
    .para{
        margin: 10px 0;
    }

    .section6_part3{
        margin-top: 80px;
    }

    .section6_part3 img{
        width: 106%;
        height: 80%;
    }

    #section7{
        width: 100%;
    }

    .section7_part1{
        /* background-color: red; */
        height: 300px;
    }

    .section7_part1 img{
        margin-top: 30px;
        width: 100%;
    }

    .section7_part2{
        width: 100%;
        /* background-color: red; */
        padding: 20px;
    }

    #section8{
        width: 109.3%;
    }

    #section9 {
        width: 109.2%;
    }

    #section10{
        width: 109.5%;
    }

}


@media (max-width: 425px) {
    /* .navbar{
        width: 100%;
    } */

    .container{
        width: 169%;
    }

    .Section2_Home{
        gap: 100px;
    }

    .Section2_Home div img{
        height: 50vh;
        width: 50vw;
    }

    .section3_part2{
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        /* row-gap: 100px; */
    }

    .section3_img{
        width: 115%;
    }

}








@media (max-width: 376px) {
  
    .section9_h1 {
        font-size: 1.8rem;
        
    }
}
